// Color
$primaryColor: rgb(13, 110, 253); // Primary
$successColor: rgb(25, 135, 84); // Success
$infoColor: #0dcaf0; // Info
$warningColor: #ffc107; // Warning
$dangerColor: rgb(220, 53, 69); // Danger

// Theme Color
$themeColor: $primaryColor; // ketika mengubah bagian ini, ubah juga di file config.js
