@use './variables' as *;
@use 'sass:color';

a {
  text-decoration: none;
  transition: 0.2s;
  color: rgba($themeColor, var(--bs-link-opacity, 1));

  &:hover {
    color: #{color.adjust($themeColor, $lightness: -5%)};
  }
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}

body {
  &.overflow {
    // Small devices (landscape phones, less than 768px)
    // @media only screen and (max-width: 767.98px) {
    @media only screen and (max-width: 1026.98px) {
      overflow: hidden;
    }
  }
}

.main-wrapper {
  position: relative;

  .content {
    border-radius: 6px;
    margin-right: 16px;

    .card {
      .header-custom {
        background-color: transparent;
        margin: 0 16px;
        padding: 11px 0 11px 0;

        &.primary {
          color: #{color.adjust($primaryColor, $lightness: -10%)};
        }

        &.success {
          color: #{color.adjust($successColor, $lightness: -10%)};
        }

        &.danger {
          color: #{color.adjust($dangerColor, $lightness: -10%)};
        }
      }

      .footer-custom {
        background-color: transparent;
        margin: 0 16px;
        padding: 11px 0 11px 0;
      }
    }

    // Small devices (landscape phones, less than 768px)
    // @media only screen and (max-width: 767.98px) {
    @media only screen and (max-width: 1026.98px) {
      margin: 0 16px 16px;
    }
  }
}

.border-custom {
  border: 0;
  border-left: 13px solid transparent;

  &.primary {
    border-color: #{color.adjust($primaryColor, $lightness: -10%)};
  }

  &.success {
    border-color: #{color.adjust($successColor, $lightness: -5%)};
  }

  &.danger {
    border-color: #{color.adjust($dangerColor, $lightness: -5%)};
  }
}

.page-link {
  text-decoration: none;
  transition: 0.2s;
  color: rgba($themeColor, var(--bs-link-opacity, 1));

  &:hover {
    color: #{color.adjust($themeColor, $lightness: -5%)};
  }

  &:focus {
    color: #{color.adjust($themeColor, $lightness: -7%)};
  }
}

.dropdown-item {
  &:active {
    background-color: $themeColor;
  }
}
