@use '../../assets/scss/variables' as *;

.dashboard {
  .card {
    .card-header {
      background-color: transparent;
      margin: 0 16px;
      padding-left: 0;
      padding-right: 0;
      font-size: 20px;
      font-weight: 500;
    }

    .card-body {
      display: flex;
      justify-content: space-between;

      .icon {
        display: flex;
        align-items: start;

        i {
          width: 61px;
        }

        small {
          padding-left: 7px;
        }
      }

      .amount {
        display: flex;
        align-items: end;
        font-size: 30px;
        font-weight: 500;
        transform: translateY(7px);
      }
    }
  }

  table {
    white-space: nowrap;
  }

  .pagination {
    width: 100%;
    margin: auto;

    // Medium devices (tablets, 768px and up)
    @media only screen and (min-width: 768px) {
      width: auto;
    }
  }
}
