@import '../../assets/scss/variables';

.hero {
  .alert {
    border-radius: 6px;
    margin-right: 16px;
    margin-left: 16px;

    &.alert-custom {
      // Medium devices (tablets, 768px and up)
      @media only screen and (min-width: 768px) {
        background-image: linear-gradient(
          to right,
          transparent 0%,
          lighten($themeColor, 16%) 100%
        ) !important;
      }
    }

    // Medium devices (tablets, 768px and up)
    @media only screen and (min-width: 768px) {
      border-right: 0;
      margin-left: 0;
      margin-right: 0;
      border-radius: 6px 0 0 6px;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media only screen and (max-width: 767.98px) {
    padding-left: 0px !important;
  }

  @media only screen and (max-width: 1026.98px) {
    padding-left: 16px;
  }
}
