.progress-bar {
  span {
    font-weight: bold;
    width: 200px;
    margin-right: 10px;

    // Medium devices (tablets, 768px and up)
    @media only screen and (min-width: 768px) {
      width: 150px;
    }
  }
}
