@use '../../assets/scss/variables' as *;
@use 'sass:color';

.btt {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 38px;
  cursor: pointer;
  fill: #{color.adjust($themeColor, $lightness: -5%)};
  visibility: hidden;
  opacity: 0;
  background: #fff;
  transition: fill 0.2s, opacity 0.4s, visibility 0.4s;
  z-index: 2;
  border-radius: 5px;

  &:hover {
    fill: #{color.adjust($themeColor, $lightness: -10%)};
  }

  &:active {
    fill: #{color.adjust($themeColor, $lightness: -15%)};
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }

  // Medium devices (tablets, 768px and up)
  // @media only screen and (min-width: 768px) {
  @media only screen and (min-width: 1027px) {
    display: block;
  }
}
